body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F6FA;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: #FFFFFF;
    border-top: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    padding: 15px;
}

h6 {
    font-size: 14px;
    margin: 0px;
}

.trash {
    width: 15px;
    margin-left: auto;
}

.avatar {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.last-row {
    border-bottom: 1px solid #DADADA;
}

h1 {
   text-align: left; 
   margin: 0 auto;
}

#count {
    margin-left: 5px
}

#addMessage {
    width: 50%;
    margin-right: 15px;
    height: 30px;
    border: 3px solid #008BCD;
    border-radius: 5px;
    
}

#addButton {
    width: 10%;
    height: 38px;
    border: 3px solid #008BCD;
    border-radius: 5px;
    color: #008BCD;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

}